%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et
%{cover_enabled, true}.

{erl_first_files, [
  "src/gen_server2.erl",
  "src/supervisor2.erl"
  "src/mirrored_supervisor.erl"
]}.

{deps, [
  ]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [
    {d, use_specs}
    %warn_missing_spec
]}.

{ct_extra_params, ""}.
%
{clean_files, [
    "test/*.beam",
    "erl_crash.dump",
    "*.coverdata"
  ]}.

{xref_checks, [undefined_function_calls]}.

{xref_queries, [
    {"((XC - UC) || (XU - X - B))", []},
    {"(L - LU)", []}
  ]}.
